## **GDSC Al-azhar | Data Science Training**

### Print words that start with : **s**

In [2]:
st = 'Print only the words that start with s in this sentence'

In [3]:
#Code here
for i in st.split():
    if(i.startswith('s')):
        print(i)

start
s
sentence

### Find the most frequent value in a list

In [11]:
test = [1, 2, 3, 9, 2, 7, 3, 5, 9, 9, 9]

In [12]:
#Code here
test = [1, 2, 3, 9, 2, 7, 3, 5, 9, 9, 9]
counter = 0 
for i in test:
        curr_frequency = test.count(i)
        if(curr_frequency > counter):
            counter = curr_frequency
            most_freq = i
print(most_freq)

9

### Use range() to print all the even numbers from 0 to 10.

In [8]:
#Code here
for ran in range(0 , 11,2):
    print(ran)

0
2
4
6
8
10

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [27]:
#Code here
lista = [x for x in range(1, 51)]
newList = []
for i in lista:
    if i % 3 == 0:
        newList.append(i)
print (newList)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

____
### Use a List Comprehension to create a list of the first letters of every word in the string below:

In [34]:
st = 'Create a list of the first letters of every word in this string'

In [35]:
#Code here
list_ = st.split()
newList = []
for i in list_:
    newList.append(i[0])
print(newList)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Go through the string below and if the length of a word is even print "even!"

In [21]:
st = 'Print every word in this sentence that has an even number of letters'

In [22]:
#Code here
for i in st.split():
    if(len(i) % 2 == 0):
        print(i , "even!")

word even!
in even!
this even!
sentence even!
that even!
an even!
even even!
number even!
of even!

**Using Code**
### How to Update List & dict 
### how to delete elements From List 
### advantage of set()

In [43]:
#Code here how to update list and dict
list__ = [1 , 2 , 3]
print (list__)
list__[0] = 0
print (list__)

dict = {1 : "a", 2 :"b" , 3 : "c"}
print(dict)
dict[3] = "d"
print(dict)
# another way to update
dict.update({1 : "i"})
print(dict)

[1, 2, 3]
[0, 2, 3]
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'd'}
{1: 'i', 2: 'b', 3: 'd'}

In [47]:
#advantages of set
# 1- cannot have multiple occurrences of the same element
sets = {1 , 2 , 3 , 2 , 3 , 1}
print (sets) 
# 2- union sets
set_one = {1,2,3,4}
set_two = {5 , 4 , 3, 7 , 8}
union_of_two_sets = set_one.union(set_two)
print(union_of_two_sets)
# 3- can add element after create the set
my_first_set = {1,2,3,5}
my_first_set.add(4)
print(my_first_set)

{1, 2, 3}
{1, 2, 3, 4, 5, 7, 8}
{1, 2, 3, 4, 5}

### Using lambda : Sum 3 nums

In [48]:
#Code here
sum = lambda a, b, c : a + b + c
print(sum(2, 4, 6))

12

### how to sort List 

```
thislist = [100, 50, 65, 82, 23]
```

In [39]:
#Code here
thisList = [100 , 50 , 65 , 82 , 23]
thisList.sort()
print(thisList)

[23, 50, 65, 82, 100]

### Reverse List
```
thislist = [100, 50, 65, 82, 23]
```

In [49]:
#Code here
thisList = [100 , 50 , 65 , 82 , 23]
thisList.sort(reverse= True)
print(thisList)

[100, 82, 65, 50, 23]

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

```
    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]
```

In [55]:
#Code here
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list = []
for i in sample_list:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 2, 3, 4, 5]

### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters


    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [59]:
#Code here
Sample_String = 'Hello Mr. Rogers, how are you this fine Tuesday?'
upp = 0
low = 0
for i in Sample_String:
    if i.isupper():
        upp+= 1
    elif i.islower():
        low += 1
print("No. of Upper case characters : ", upp)
print("No. of Lower case Characters : ", low)

No. of Upper case characters :  4
No. of Lower case Characters :  33

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [1]:
#Code here
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
test_list = set(sample_list)
unique_list = list(test_list)
print(unique_list)

[1, 2, 3, 4, 5]

### Write a Python function to multiply all the numbers in a list.

```
Sample List : [1, 2, 3, -4]
Expected Output : -24```

In [2]:
#Code here
def multi (l):
    x = 1
    for i in l:
        x *= i
    return x
S_list = [1, 2, 3, -4]
print(multi(S_list))

-24

### Write a Python function that checks whether a passed string is palindrome or not

In [5]:
#Code here
def is_palindrome(str):
    str1 = list(str)
    str1.reverse()
    str2 = "".join(str1)
    if (str == str2):
        print("string is palindrome")
    else:
        print("string is not palindrome")

str = "abcdcba"
is_palindrome(str)

string is not palindrome

### Open a file, name it 'test.txt' and write 'I Love python' for 5 times in it then close it.

In [8]:
#Code here
file = open("test.txt","w+")
for i in range(5):
    file.write("I Love Python\n")
file.close()

### Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print(i**2)

TypeError: ignored

In [9]:
#Code here
for i in ['a','b','c']:
    try: 
        print(i**2)
    except:
        print("Not an integer")

Not an integer
Not an integer
Not an integer

### Handle the exception thrown by the code below by using try and except blocks. Then use a finally block to print 'All Done.'

In [ ]:
x = 5
y = 0

z = x/y

ZeroDivisionError: ignored

In [10]:
#Code here
x = 5
y = 0
try: 
    z = x/y
except:
    print("x/y Division could not be performed")
finally:
    print("All done!")

x/y Division could not be performed
All done!

### **It does not matter how slowly you go as long as you do not stop.**

**feel free to contact me if you need any further information**
[LinkedIn](https://www.linkedin.com/in/mohamed-ibrahim-513531202/)